
@{
    ViewBag.Title = "Index";
}

<h2 class="display-4 mb-5">Home Page</h2>

<h4>What this application can do.</h4>

<h6>You can See Food List on <b>Food</b>. You can add food to the food list, edit and delete food if you want </h6>
<h6>You can See Order List on <b>Order</b>. <br />You can see who is ordering what food. You can see the picture of the customer and the table number of which table he ordered. You can add new orders. If you want, you can edit the order and delete it. If you want to find a specific customer, you can search the customer's name in the search box. </h6>